#app {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#container {
    margin: 0 auto;
    display: flex;
    font-family: "Fira Code";
}

#container div {
    /*border: 1px solid darkred;*/
}

button {
    border: 0;
    cursor: pointer;
    font-family: inherit;
}

.calc_body {
    margin: 0 auto;
    padding: 20px;
    width: 260px;
    height: 420px;
    display: flex;
    flex-direction: column;
    background-color: #1C1C1C;
    border-radius: 25px;
}

.calc_display {
    flex: 1;
    padding-right: 1.2rem;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 40px;
    color: white;
}

.calc_button_container {
    flex: 4;
    display: flex;
    align-items: center;
}

.btn_nrs_extras {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.btn_operators {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.btn_nrs {
    display: flex;
    flex-wrap: wrap-reverse;
}

.btn_extras {
    display: flex;
}

.btn_numbers.calc_btn {
    background-color: #505050;
    color: white;
}

.btn_extras.calc_btn {
    background-color: #D4D4D2;
    color: black;
}

.btn_operator.calc_btn {
    background-color: #FF9500;
    color: white;
}

.calc_btn {
    width: 55px;
    aspect-ratio: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

}

.calc_btn_content {
    font-size: 24px;
}

